nav {
    background-image: linear-gradient( 109.6deg,  rgba(61,131,97,1) 11.2%, rgba(28,103,88,1) 91.1% );
    box-shadow: 1px 1px 8px RGBA(0, 0, 0, 0.3);
}

.navbar-brand, .nav-link {
    font-size: 18px;
    color: white;
}

.btn-group {
    margin-right: 1rem;
}

body {
    visibility: hidden;
}

h1 {
    font-weight: lighter;
}

p {
    font-size: 18px;
    font-weight: lighter;
}


.container {
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


.for-employers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-2 {
    display: flex;
    gap: 20px;
}

.my-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-image img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 20px;
}

.biography {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

@media (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .container-2 {
        display: flex;
        flex-direction: column;
    }
    .biography {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}
